
@{
    ViewBag.Title = "Inicio";
}

<h2>Conta on Line</h2>

<p>Bem vindo ao sistema de contas on Line</p>
<hr/>

<ul class="list-group">
    <li class="list-group-item">
        <a href='@Url.Action("Inicio","ContaCorrente")'>Conta corrente</a>
    </li>
    <li class="list-group-item">
        <a href='@Url.Action("Inicio","ContaCategoria")'>Categorias de Conta</a>
    </li>
    <li class="list-group-item">
        <a href='@Url.Action("Inicio","Contato")'>Contatos</a>
    </li>
    <li class="list-group-item">
        <a href="">Contas a Pagar e Receber</a>
    </li>
    <li class="list-group-item">
        <a href="">Relatorios</a>
    </li>
</ul>