@model ContaOnline.Domain.Models.ContaCorrente

@{
    ViewBag.Title = "Excluir";
}

<h3>Excluir Conta Corrente</h3>

<h4>Você tem certeza que deseja excluir isso?</h4>
<div>
    <hr />
    <p>
        <label class="control-label">Descrição</label>
        <span>@Model.Descricao</span>
    </p>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <a href='@Url.Action("Inicio")' class="btn btn-default"> Voltar </a>
        </div>
    }
</div>
